---
import Layout from "@layouts/Layout.astro";
import GalleryImage from "@components/GalleryImage.astro";
---

<Layout title="Imagenes con SD">
  <main class="bg-white dark:bg-gray-900 transition-colors duration-200">
    <div class="min-h-screen flex pt-10 justify-center">
      <GalleryImage />
    </div>
  </main>
  <button id="error-button">Throw test error</button>
</Layout>

<script>
  const errorButton = document.querySelector(
    "#error-button"
  ) as HTMLButtonElement;
  function handleClick() {
    throw new Error("This is a test error");
  }
  errorButton.addEventListener("click", handleClick);
</script>
