---
import type { Image } from "../types/image.ts";
import { v2 as cloudinary } from "cloudinary";

cloudinary.config({
  cloud_name: import.meta.env.CLOUDINARY_CLOUDNAME,
  api_key: import.meta.env.CLOUDINARY_APIKEY,
  api_secret: import.meta.env.CLOUDINARY_APISECRET,
});

const result = await cloudinary.search
  .expression("folder:imageSD")
  .sort_by("public_id", "desc")
  .execute();

const { resources } = result;
---

<div
  class="min-h-screen bg-white dark:bg-gray-900 transition-colors duration-200"
>
  <div
    class="columns-1 sm:columns-2 md:columns-3 lg:columns-4 gap-4 max-w-4xl mx-auto p-4 space-y-4"
  >
    {
      resources.map(({ secure_url, filename }: Image) => (
        <div class="break-inside-avoid">
          <img src={secure_url} alt={filename} class="w-full rounded-lg" />
        </div>
      ))
    }
  </div>
</div>
